#footer {
    height: 12vh;
    background: #1E095A;
    box-shadow: 0px -0.55vh 0.55vh 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    height: 4.5vh;
    width: 4.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 1vh;
    filter: brightness(90%);
}

.contact-icon:hover {
    filter: brightness(80%);
}